html{
}

a{
    text-decoration: none;
}

header{
    padding: 0 24px 0 24px;
    height: 64px;
}

#home{
    display: inline-block;
    height: 32px;
    margin: 16px 0 16px 0;
}

#logo{
    height: 100%;
    float: left;
}

h1{
    display: inline-block;
    font-size: 16px;
    float: left;
    margin: 8px 0 8px 0;
}

#h1-span-colmar{
    font-weight: bold;
}

#h1-span-academy{
    font-weight: lighter;
}

nav{
    display: inline-block;
    float: right;
    margin: 24px 0 24px 0px;
}

nav a{
    margin: 0 0 0 16px;
}

#banner{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#banner-img{
    margin: 32px 24px 32px 24px;
    width: 60%;
    height: auto;
}

#banner-txt{
    width: 40%;
    margin-right: 24px;
    font-size: 16px;
    position: relative;
}

.link-btn{
    width: 50%;
    padding: 8px 0 8px 0;
    text-align: center;
    position: absolute;
    background-color: gray;
}